<h1>Build your brand</h1>

<h3>Build your brand</h3>
<h4>Brand building has two purpose</h4>
<p>Making your mark so people recognize it</p>
<p>Making sure your mark is associated with positive traits</p>
<p>You need both</p>
<h4>Your name is your brand</h4>
<h4>Don't be a jerk</h4>
<h4>Google never forgets</h4>
<%= link_to 'Just for fun: What if Google is a person?', 'https://www.youtube.com/watch?v=YuOBzWF0Aws' %><br/>
<%= link_to 'Want more fun? What if Google is a person 2?', 'https://www.youtube.com/watch?v=B759dzymyoc' %><br/>
<%= link_to 'Still want more fun? What if Google is a person 3?', 'https://www.youtube.com/watch?v=yJD1Iwy5lUY' %><br/>
<h4>Have you ever Google yourself?</h4>
<p>Your Name</p>
<p>Your Name + Ruby</p>
<p>Your Name + Rails</p>
<p>Your Name + Denver</p>
<h4>Are you #1? Are you on the first page of results?</h4>
<h4>How do you fix that? Why is this important?</h4>
<h4>Release your code</h4>
<p>Interviewers and hiring managers search Github for your name and code you're written</p>
<h4>Open Source software makes this very easy</h4>
<p>Contribute to existing projects</p>
<p>Release your own projects</p>
<h4>Releasing code helps build your reputation, while marketing yourself in the process</h4>
<h4>Create a Webblog</h4>
<p>You are a member of this industry</p>
<p>Companies want to hire experts</p>
<output>Imagine interviewing where they have heard of you because of a blog post you wrote on ____</output>
<p>Read Weblogs</p>
<output>http://theoldreader.com/ (RSS Aggregatpr)</output>
<p>We'll cover how to create a blog in class</p>

<h3>Blogs that Jason Noble follow</h3>
<ul style="list-style: none">
  <li><h4><%= link_to 'A Fresh Cup', 'http://afreshcup.com/' %></h4></li>
  <li><h4><%= link_to 'Pivotal Blabs', 'http://pivotallabs.com/community/blogs/' %></h4></li>
  <li><h4><%= link_to 'giant robots smashing into other giant robots', 'http://robots.thoughtbot.com/tags/rails' %></h4></li>
  <li><h4><%= link_to 'ASCllasts latest episodes', 'http://asciicasts.com/' %></h4></li>
  <li><h4><%= link_to 'Rails Inside', 'http://www.railsinside.com/' %></h4></li>
  <li><h4><%= link_to 'Rails Tutorial News', 'http://news.railstutorial.org/' %></h4></li>
  <li><h4><%= link_to 'One line at a time', 'http://blog.ethanvizitei.com/2009/06/processing-large-files-with-ruby-and.html' %></h4></li>
  <li><h4><%= link_to 'Rails Casts', 'http://railscasts.com/' %></h4></li>
  <li><h4><%= link_to 'Assembla DaVinci Coders: Rails 2013 Q1 Events', 'https://www.assembla.com/spaces/davinci-coders-rails-winter-2013/wiki/Assignments?version=1' %></h4></li>
  <li><h4><%= link_to 'Stonean', 'http://stonean.com/' %></h4></li>
  <li><h4><%= link_to 'Rails Tips by John Nunemaker', 'http://www.railstips.org/' %></h4></li>
  <li><h4><%= link_to 'this_blog (cool, exciting) :-post(kleetus)', 'http://kleeschulte.blogspot.com/2012_05_01_archive.html' %></h4></li>
  <li><h4><%= link_to 'xkcd.com', 'http://xkcd.com/' %></h4></li>
  <li><h4><%= link_to 'Blog of Zack Adams Atlanta Web Developer', 'http://blog.zadams.com/' %></h4></li>
  <li><h4><%= link_to 'Ruby Inside', 'http://www.rubyinside.com/' %></h4></li>
  <li><h4><%= link_to 'Ruby Quicktips', 'http://rubyquicktips.com/' %></h4></li>
  <li><h4><%= link_to 'Ruby Rogues', 'http://devchat.tv/ruby-rogues/' %></h4></li>
  <li><h4><%= link_to 'Ruby Flow', 'http://www.rubyflow.com/' %></h4></li>
  <li><h4><%= link_to 'Calvin and Hobbes (Unofficial)', 'http://www.gocomics.com/calvinandhobbes/' %></h4></li>
  <li><h4><%= link_to 'Dilbert Daily Strip', 'http://www.dilbert.com/' %></h4></li>
  <li><h4><%= link_to 'SKORKS', 'http://www.skorks.com/' %></h4></li>
  <li><h4><%= link_to 'Exposing Gotchas', 'http://exposinggotchas.blogspot.com/' %></h4></li>
  <li><h4><%= link_to 'The Agile Warrior', 'https://agilewarrior.wordpress.com/' %></h4></li>
  <li><h4><%= link_to 'Git Ready', 'http://gitready.com/' %></h4></li>
  <li><h4><%= link_to 'The Daily WTF', 'http://thedailywtf.com/' %></h4></li>
  <li><h4><%= link_to 'Jason Nobles Technical Adventures', 'http://stats.nerdydata.com/jasonnoble.org' %></h4></li>
  <li><h4><%= link_to 'The Ruby Reflector', 'http://www.rubyreflector.com/html/' %></h4></li>
  <li><h4><%= link_to 'Jeffrey Miron', 'http://www.cato.org/people/jeffrey-miron' %></h4></li>
  <li><h4><%= link_to 'The Sneeze', 'http://www.thesneeze.com/' %></h4></li>
  <li><h4><%= link_to 'Ways of Ruby', 'http://therubyway.org/' %></h4></li>
  <li><h4><%= link_to 'Not Always Right', 'http://notalwaysright.com/' %></h4></li>
</ul>

<h3>Example Student Blog</h3>
<ul style="list-style: none">
  <li><h4><%= link_to 'http://bayendor.github.io/', 'http://bayendor.github.io/' %></h4></li>
  <li><h4><%= link_to 'David: DaVinci graduate & TA', 'https://davidmowrer.wordpress.com/' %></h4></li>
  <li><h4>They don't have to be detailed</h4></li>
  <li><h4>Explain a problem you ran into, how you fixed the issue, etc.</h4></li>
</ul>

<h1>Homework Assigment</h1>
<h3>Setup your technical blog</h3>
<h4>Try to include your name in the URL</h4>
<p>Jasonnoble.org is better than jasonnoble.tumblr.com</p>
<h4><%= link_to 'http://www.tumblr.com', 'http://www.tumblr.com' %></h4>
<h4><%= link_to 'http://wordpress.com/', 'http://wordpress.com/' %></h4>
<h4>Host it yourself</h4>
<h4><%= link_to 'http://pages.github.com/', 'http://pages.github.com/' %></h4>
<h4>Send your blogs URL to the class mailing list</h4>

<h3>What should I blog about?</h3>
<h4>Error messages you run into, what caused them, how did you fix them?</h4>
<h4>If you're working on a problem, and the solution could be helpful to others, blog your solution</h4>
<p>Google for "rails custom environment variables"</p>
<h4>Most things that go into Evernote could make a blog post</h4>
<h4>Things we cover in class</h4>

<h3>Additional Resources</h3>
<h4>The Passionate Programmer by Chad Fowler</h4>
<%= link_to 'Free', 'http://it-ebooks.info/book/76/' %><br/>
<%= link_to 'Support the author', 'http://pragprog.com/book/cfcar2/the-passionate-programmer' %><br/>
<p>We covered Tips 39, 40 & 41</p>
<p>This book is an excellent read about being a software developer</p>
