<h1>I am a student of DaVinci, I want to read and learn more knowledge</h1>

<h4><%= link_to "Jason Noble' Blog", 'www.jasonnoble.org' %></h4><br/>
<h4><%= link_to "Learn to Program, 2nd Edition", 'http://it-ebooks.info/book/36/' %></h4><br/>
<h4><%= link_to "The Passionatte Programmer", 'http://it-ebooks.info/book/76/' %></h4><br/>
<h4><%= link_to "Stackoverflow", 'http://stackoverflow.com/' %></h4><br/>

<h3>Students' Blog</h3>
<ul style="list-style: none">
  <li><h4><%= link_to 'http://bayendor.github.io/', 'http://bayendor.github.io/' %></h4></li>
  <li><h4><%= link_to 'David: DaVinci graduate & TA', 'https://davidmowrer.wordpress.com/' %></h4></li>
  <li><h4><%= link_to 'Grace River Yu: DaVinci current student', 'http://rivergracefish.wordpress.com/' %></h4></li>
</ul>

<h3> Additional Git References </h3>
<ul style="list-style: none">
  <li><h4><%= link_to 'http://git-scm.com/book', 'http://git-scm.com/book' %></h4></li>
  <li><h4><%= link_to 'Pragmatic Guide to Git', 'http://it-ebooks.info/book/45/'  %></h4></li>
  <li><h4><%= link_to 'Pragmatic Version Control Using Git', 'http://it-ebooks.info/book/53/'  %></h4></li>
  <li><h4><%= link_to 'Version Control with Git, 2nd Edition', 'http://it-ebooks.info/book/919/'  %></h4></li>
  <li><h4><%= link_to 'Git Pocket Guide', 'http://www.amazon.com/s/ref=nb_sb_noss_1?url=search-alias%3Daps&field-keywords=git+pocket+guide'  %></h4></li>
</ul>

<h3>Blogs that Jason Noble follow</h3>
<ul style="list-style: none">
  <li><h4><%= link_to 'A Fresh Cup', 'http://afreshcup.com/' %></h4></li>
  <li><h4><%= link_to 'Pivotal Blabs', 'http://pivotallabs.com/community/blogs/' %></h4></li>
  <li><h4><%= link_to 'giant robots smashing into other giant robots', 'http://robots.thoughtbot.com/tags/rails' %></h4></li>
  <li><h4><%= link_to 'ASCllasts latest episodes', 'http://asciicasts.com/' %></h4></li>
  <li><h4><%= link_to 'Rails Inside', 'http://www.railsinside.com/' %></h4></li>
  <li><h4><%= link_to 'Rails Tutorial News', 'http://news.railstutorial.org/' %></h4></li>
  <li><h4><%= link_to 'One line at a time', 'http://blog.ethanvizitei.com/2009/06/processing-large-files-with-ruby-and.html' %></h4></li>
  <li><h4><%= link_to 'Rails Casts', 'http://railscasts.com/' %></h4></li>
  <li><h4><%= link_to 'Assembla DaVinci Coders: Rails 2013 Q1 Events', 'https://www.assembla.com/spaces/davinci-coders-rails-winter-2013/wiki/Assignments?version=1' %></h4></li>
  <li><h4><%= link_to 'Stonean', 'http://stonean.com/' %></h4></li>
  <li><h4><%= link_to 'Rails Tips by John Nunemaker', 'http://www.railstips.org/' %></h4></li>
  <li><h4><%= link_to 'this_blog (cool, exciting) :-post(kleetus)', 'http://kleeschulte.blogspot.com/2012_05_01_archive.html' %></h4></li>
  <li><h4><%= link_to 'xkcd.com', 'http://xkcd.com/' %></h4></li>
  <li><h4><%= link_to 'Blog of Zack Adams Atlanta Web Developer', 'http://blog.zadams.com/' %></h4></li>
  <li><h4><%= link_to 'Ruby Inside', 'http://www.rubyinside.com/' %></h4></li>
  <li><h4><%= link_to 'Ruby Quicktips', 'http://rubyquicktips.com/' %></h4></li>
  <li><h4><%= link_to 'Ruby Rogues', 'http://devchat.tv/ruby-rogues/' %></h4></li>
  <li><h4><%= link_to 'Ruby Flow', 'http://www.rubyflow.com/' %></h4></li>
  <li><h4><%= link_to 'Calvin and Hobbes (Unofficial)', 'http://www.gocomics.com/calvinandhobbes/' %></h4></li>
  <li><h4><%= link_to 'Dilbert Daily Strip', 'http://www.dilbert.com/' %></h4></li>
  <li><h4><%= link_to 'SKORKS', 'http://www.skorks.com/' %></h4></li>
  <li><h4><%= link_to 'Exposing Gotchas', 'http://exposinggotchas.blogspot.com/' %></h4></li>
  <li><h4><%= link_to 'The Agile Warrior', 'https://agilewarrior.wordpress.com/' %></h4></li>
  <li><h4><%= link_to 'Git Ready', 'http://gitready.com/' %></h4></li>
  <li><h4><%= link_to 'The Daily WTF', 'http://thedailywtf.com/' %></h4></li>
  <li><h4><%= link_to 'Jason Nobles Technical Adventures', 'http://stats.nerdydata.com/jasonnoble.org' %></h4></li>
  <li><h4><%= link_to 'The Ruby Reflector', 'http://www.rubyreflector.com/html/' %></h4></li>
  <li><h4><%= link_to 'Jeffrey Miron', 'http://www.cato.org/people/jeffrey-miron' %></h4></li>
  <li><h4><%= link_to 'The Sneeze', 'http://www.thesneeze.com/' %></h4></li>
  <li><h4><%= link_to 'Ways of Ruby', 'http://therubyway.org/' %></h4></li>
  <li><h4><%= link_to 'Not Always Right', 'http://notalwaysright.com/' %></h4></li>
</ul>
