<h1>I am a student of DaVinci, I am interesting of</h1><br/>

<h4><%= link_to 'Reading Blogs', reading_blogs_path %></h4><br/>
<h4><%= link_to 'Build my brand', build_my_brand_path %></h4><br/>
<h4><%= link_to 'Pivotal Tracker', pivotal_tracker_path %></h4><br/>

<%= image_tag 'courage.jpg' %>
<%= image_tag 'magic.jpg' %>
<%= image_tag 'try.jpg' %>
<%= image_tag 'Thanks.jpg' %>
