<h2> Users List</h2>

<table class="table table-condensed">
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
    <th>Wordpress</th>
    <th>Github</th>
  </tr>
<% @users.each do |user| %>
  <tr>
    <td><%= user.first_name %></td>
    <td><%= user.last_name %></td>
    <td><%= user.email %></td>
    <td><%= link_to user.wordpress, user.wordpress %></td>
    <td><%= link_to user.github, user.github %></td>
  </tr>
<% end %>
</table>
