<h1>Profile Page</h1>

<pre><h3>
First Name: <%= @user.first_name %><br/>
Middle Name: <%= @user.middle_name %><br/>
Last Name: <%= @user.last_name %><br/>
Email: <%= @user.email %><br/>
Wordpress: <%= @user.wordpress %><br/>
Github: <%= @user.github %><br/>
Course: <%= @user.course %><br/>
User Type: <%= @user.user_type %><br/>
Bio: <%= @user.bio %><br/>
</h3></pre>

<button type="button" class="btn btn-default"><%= link_to 'Edit', edit_user_path(@user) %></button>
<br/>
<p><h2><%= link_to '>> Start My Coding Adventure <<', adventure_start_path %></h2></p>
<p><h2><%= link_to 'Go to Ruby on Rails Excrcises', ruby_on_rails_exercises_path %></h2></p>
